{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 id="headings">Calculator</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="number" name="number_one" class="numbers" placeholder="Enter First Number" required>
        <label for="operator">Choose an operator</label>
        <select name="operator" id="option">
            <option value="+">Addition</option>
            <option value="-">Subtraction</option>
            <option value="*">Multiplication</option>
            <option value="/">Division</option>
        </select>
        <input type="number" name="number_two" class="numbers" placeholder="Enter Second Number" required>
        <input type="submit" id="button" value="Calculate">
    </form>
    <div class="result">
        <h1 id="result">{{ result }}</h1>
    </div>
</div>
{% endblock %}