

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #10b0ae;
}
.container{
    width: 60vh;
    margin-top: 100px;
    background-color: #65046d;
    border: 2px solid #806703;
    border-radius: .5em;

}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#65046d;
    ;
}
.numbers{
   
    padding-left: 10px;
    margin: 20px 0;
    height: 30px;
    border-style: none;
    border-bottom: 1px solid #373d20;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 5px 1px rgb(61,59,59);
    background-color:  #7b506f;
    border-radius: .5em;
    text-align: center;
    color: #f2ebcf;
}
::placeholder{
    color: #c4b879;
    text-decoration: uppercase;
}
label{
    letter-spacing: 0.1em;
    color: #f2ebcf;
}
select{
    width: 150px;
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
    color: rgb(155,19,19);
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 5px 1px rgb(61,59,59);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f2ebcf;
}
#option{
    text-align: center;
}
#headings{
    text-align: center;
    letter-spacing: 0.1em;
    text-decoration: uppercase;
    color: #f2ebcf;
}
#button{
    border: 1px solid #373d20;
    border-radius: .3em;
    background-color:  #f2ebcf;
    color: #1b1910;
    font-size: 1.5rem;
    cursor: pointer;

}
.result{
    text-align: center;
}